[Unit]
Description=ZIVO Official Soroush Plus Bot v14 Premium Tiers + Membership + Group Access
After=network-online.target zivo60.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/ZIVO_OFFICIAL_BOT14
ExecStart=/opt/ZIVO_OFFICIAL_BOT14/venv/bin/python -O /opt/ZIVO_OFFICIAL_BOT14/zivo_official14.py
Restart=always
RestartSec=2
User=root
Environment=PYTHONUNBUFFERED=1
Environment=ZIVO_IPC_DIR=/run/zivo-ipc
Environment=ZIVO_IPC_ACCOUNTS=main,acc2,acc3

[Install]
WantedBy=multi-user.target
