[Unit]
Description=ZIVO Official Soroush Plus Bot v22 Meow Start Repair
After=network-online.target zivo60.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/ZIVO_OFFICIAL_BOT22
ExecStart=/opt/ZIVO_OFFICIAL_BOT22/venv/bin/python -O /opt/ZIVO_OFFICIAL_BOT22/zivo_official22.py
Restart=always
RestartSec=2
User=root
Environment=PYTHONUNBUFFERED=1
Environment=ZIVO_IPC_DIR=/run/zivo-ipc
Environment=ZIVO_IPC_ACCOUNTS=main,acc2,acc3

[Install]
WantedBy=multi-user.target
